<h1>Contact</h1>
<hr>
<h4>The contacts of this application creator</h4>
<p>
	<strong>Hi there</strong>, I'm <strong><a href="http://www.marciobera.com" target="_blank">Marcio Bera</a></strong>.
</p>
<p>I'm a web developer professional passionate for web and news technologies that help to become life easier for web users.</p>

<p>My passion for learning web technologies started in 2007. After graduating from University Center of Maringá in 2011, I started a master degree in Science Computer at State University of Maringá, where I became an assistant professor.</p>

<p>In the web development field, I work with some technologies frond-end (e.g. AngularJS, jQuery, Bootstrap) and back-end (e.g. PHP, using Laravel and Codeigniter framework). At the moment, I'm learning some technologies like Ruby on Rails and ReactJS.
</p>
<br>
<h4>Contacts</h4>
<hr>
<div class="row">
    
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <h5>Location</h5>
                <a href="https://www.google.com.br/maps?client=safari&rls=en&dcr=0&q=Maringá+-+PR,+Brasil&biw=1679&bih=943&um=1&ie=UTF-8&sa=X&ved=0ahUKEwipofbm_tnXAhXKGpAKHRV6CcIQ_AUICigB" target="_blank">Maringá - PR, Brazil</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <h5>Phone</h5>
                <a href="https://api.whatsapp.com/send?phone=5544998645600" target="_blank">+55 44 99864 5600</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <h5>Email</h5>
                <a href="mailto:marciobera@hotmail.com">marciobera@hotmail.com</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <h5>Skype</h5>
                <a href="#">marciobera</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>
