<img src="images/logo-big.png" alt="Power Events!" class="img-responsive">
<br>
<div class="jumbotron">
  <p class="lead">
    The easiest way to you follow your favorite artist.
  </p>
  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form ng-submit="main.getArtist()">
        <div class="input-group main-search">
          <input type="text" class="form-control input-lg text-center" ng-change="main.getArtist()" ng-model-options="{ debounce: 500 }" ng-model="main.artist.name" placeholder="Enter the name of your artist or band">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="main.getArtist()" type="button"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-10 col-md-offset-1 text-right" ng-if="main.artist.name">
      <a href="javascript:;" ng-click="main.clearSearch(1)" class="text-muted">clear search</a>
    </div>
  </div>
</div>

<div class="row marketing">
  <div ng-if="main.artist.content.id">
    <div class="col-md-4">
      <img ng-src="{{main.artist.content.thumb_url}}" class="img-responsive img-thumbnail">
    </div>
    <div class="col-md-8">
      <h1>
        {{main.artist.content.name}} 
      </h1>
      <hr>
      
      <div class="row">

        <div class="col-md-12">

          <iframe ng-src="{{main.artist.content.facebook_iframe_url}}" width="*" height="40px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

        </div>  
        <div class="col-md-12 text-center">
          <a ng-if="main.artist.content.facebook_page_url" href="{{main.artist.content.facebook_page_url}}" class="btn btn-primary" target="_blank"><i class="fa fa-facebook"></i></a> 
          <span class="hidden-xs">&nbsp; &nbsp;</span>
          <button class="btn btn-default" ng-click="main.getNextEvents()" target="_blank"><i class="fa fa-calendar"></i> See next events</button>
          <span class="hidden-xs">&nbsp; &nbsp;</span>
          <br class="hidden-md hidden-lg">
          <a href="{{main.artist.content.url}}" target="_blank">See in<img src="images/bandsintown-logo.svg" height="30px"></a>
        </div>
      </div>

      </div>
      
      
    </div>
    <div class="col-md-12">
      <div ng-if="main.artist.events.length > 0">
      <br>
      <h3 class="text-default text-center"><i class="fa fa-calendar"></i> Next events of {{main.artist.content.name}}</h3>
      <br>
        <table class="table" ng-if="main.artist.events.length > 0">
          <thead>
            <tr>
              <th class="hidden-xs hidden-sm">City</th>
              <th class="hidden-xs hidden-sm">Country</th>
              <th class="hidden-xs hidden-sm">Date</th>
              <th class="hidden-xs hidden-sm">Venue</th>
              <th class="hidden-md hidden-lg">Info</th>
              <th width="90">Tickets</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="event in main.artist.events | itemsPerPage: 10" pagination-id="cust">
              <td class="hidden-xs hidden-sm">{{event.venue.city}}</td>
              <td class="hidden-xs hidden-sm">{{event.venue.country}}</td>
              <td class="hidden-xs hidden-sm">{{event.datetime | amCalendar}}</td>
              <td class="hidden-xs hidden-sm"><a href="https://www.google.com/maps/?q={{event.venue.latitude}},{{event.venue.longitude}}" target="_blank"><i class="fa fa-map-marker"></i></a> {{event.venue.name}}
              </td>
              <td class="hidden-md hidden-lg">
                <strong>City:</strong> {{event.venue.city}}<br>
                <strong>Country:</strong> {{event.venue.country}}<br>
                <strong>Date:</strong> {{event.datetime | amCalendar}}<br>
                <strong>Venue:</strong> <a href="https://www.google.com/maps/?q={{event.venue.latitude}},{{event.venue.longitude}}" target="_blank"><i class="fa fa-map-marker"></i></a> {{event.venue.name}}
              </td>
              <td>
                <div ng-if="event.offers.length == 0"><small>Unavailable</small></div>
                <div ng-repeat="offer in event.offers">
                  <a href="{{offer.url}}" target="_blank" ng-if="offer.status == 'available'"><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;{{offer.type}}</a>
                </div>
              </td>
              <td><a href="{{event.url}}" target="_blank"><i class="fa fa-info-circle"></i></a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6" class="text-center"><dir-pagination-controls pagination-id="cust"></dir-pagination-controls></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <br>
    <div class="alert alert-{{main.artist.error.type}}" ng-if="main.artist.error.code" ng-bind-html="main.artist.error.message"></div>
  </div>
  
</div>

<div ng-if="main.loading" class="text-center">
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>
</div>


<div class="row marketing" ng-if="!main.artist.content.id">
  <h4>What is this?</h4>
  <p>
    PowerEvents is a power application that show you details about your favorite artist.
  </p>

  <h4>And about the informations?</h4>
  <p>
    The informations founded are gettered of <strong><a href="https://app.swaggerhub.com/apis/Bandsintown/PublicAPI/3.0.0" target="_blank">Bandsintown</a></strong> REST API.
  </p>

  <h4>How much?</h4>
  <p>It's a free aplication. Enjoy it! =)</p>
</div>

