.App-header {
  background-image: url('https://www.rentalcars.com/images/site_graphics/newsite/hero/lp-hero-gb-v2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 600px) {
  .App-header {
    justify-content: start;
  }
}