body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form {
  position: relative;
  background-color: #f2cd60;
  border-bottom: 2px solid #d9b039;
  padding: 22px;
  color: #000;
  width: 100%;
  max-width: 500px;
  min-width: 100px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  box-sizing: border-box;
}

.form form{
  position: relative;
}

.form .title {
  padding: 0px;
  margin: 10px 0px 5px 0px;
  font-size: 32px;
}

.form label {
  font-size: 14px;
  font-weight: 100;
  margin: 0px;
}

.form input {
  font-size: 14px;
  padding: 12px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border: 1px solid #a9a9a9;
}

.form input::placeholder {
  color: #aaa;
}

.suggestion-badge{
  font-size:12px;
  display:inline-block;
  margin:0px 10px 0px 0px;
  position: relative;
  top: -10px;
}
.suggestion-badge .badge{
  padding:3px 10px;
  width:50px;
  text-align:center;
  font-weight: bold;
  color:#fff;
  background-color:#ccc;
  border-radius:3px;
  text-transform: capitalize;
  
}
.suggestion-badge .badge.badge-airport{
  background-color:#f2817f;
}
.suggestion-badge .badge.badge-city{
  background-color:#6eb8fa;
}
.suggestion-badge .badge.badge-station{
  background-color:#9d9dbb;
}
.suggestion-badge .badge.badge-district{
  background-color:#70d58e;
}

.suggestion-text{
  font-size:14px;
  display:inline-block;
  font-weight: 400;
}
.suggestion-text small{
  color: gray;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 41px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 7px 10px;
}

.react-autosuggest__suggestion:hover, .react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted {
  background-color:#dff6ff;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.dancounsell {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/48.jpg);
}

.ladylexy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg);
}

.mtnmissy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/mtnmissy/48.jpg);
}

.steveodom {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/steveodom/48.jpg);
}

.highlight{
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  font-weight: bold;
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.loader{
  position: absolute;
  width:26px;
  z-index:9;
  right:0px;
  margin-right:10px;
  margin-top:-35px;
}

@media only screen and (max-width: 600px) {
  .form {
    max-width: 600px;
  }
}

.no-results{
  position: absolute;
  padding:10px 9px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  color: #989898;
  font-style: italic;
  background:#fff;
  border-radius:3px;
  border-bottom: 1px solid #eaeaea;
  cursor: default !important;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  margin:auto 1px;
  font-weight: 100;
  font-size:14px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}